@media (max-width : 900px) {
  /* Features */

  .features {
    margin-top: 200px;
  }

  .featured .flex {
    justify-content: space-evenly;
  }


  .services .box {
    flex-direction: column;
    align-items: center;
    padding : 20px 30px;
    height: auto;
  }

  .services .image__box {
    margin: 40px 0px 80px 0px;
  }

  .features .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--color-secondary);
  }

  .features .flex:nth-child(even) {
    display: flex;
    flex-direction: column;
  }

  .features .flex .flex__image {
    margin-bottom: 40px;
  }

  .pricing .pricing__box div {
    width: 400px;
  }
  .pricing__box {
    padding : 20px 40px;
    width: auto;
    height : auto;
  }

  /* Testimonals */
  .testimonals .testimonals__box {
    padding: 20px;
    height: auto;
  }
  .testimonals .testimonals__box p {
    padding: 20px;
  }
  } 

@media (max-width:600px){
   /* HEaders */

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h3 {
  font-size: 25px;
  text-align: center;
}
  /* Hero  */
.hero {
  padding: 90px 0px 148px 0px;
}
 /* Features */

  .features {
    margin-top: 370px;
  }

  .featured .flex {
    justify-content: center;
  }

  
.features .flex .flex__image .flex__image--image{
  max-width: 76%;
}

.features .flex .flex__image {
  max-width : 336px;
  padding : 0px;
}
   /* Testimonals */
  .testimonals .testimonals__box {
    padding : 20px;
  }
  .pricing__box {
    padding : 20px 40px;
    width: auto;
    height : auto;
    flex-direction: column;
  }
  .pricing .pricing__box div {
    padding : 10px 70px;
  }

  .pricing .pricing__box a {
    margin: 20px auto;
  }

  .testimonals .officer {
    flex-direction: column;
  }

  .copyright .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .copyright .copyright__details {
    display: block;
    margin-bottom: 40px;
  }

}




















@media (max-width: 1100px){
  .testimonals .officer .headmember:nth-child(even) .flex__image{
   margin-left: 40px;
  }
  .services .box {
    margin-top: 79px;
  }
}













@media (max-width :400px ){
  body {
    overflow-x: hidden;
  }
}