@media (max-width : 800px) {
  .features {
    margin-top: 280px;
  }

  .featured .flex {
    justify-content: center;
  }
  .services .box {
    flex-direction: column;
    padding : 20px 30px;
    height: auto;
  }

  .services .image__box {
    margin: 40px;
  }

  .features .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid var(--color-secondary);
  }

  .features .flex:nth-child(even) {
    display: flex;
    flex-direction: column;
  }

  .features .flex .flex__image {
    margin-bottom: 20px;
  }

  .pricing .pricing__box div {
    width: 400px;
  }
  .pricing__box {
    padding : 20px 40px;
    width: auto;
    height : auto;
  }
}

@media (max-width:600px){
  .features {
    margin-top: 280px;
  }
  .testimonals .testimonals__box {
    padding : 20px;
  }
  .pricing__box {
    padding : 20px 40px;
    width: auto;
    height : auto;
    flex-direction: column;
  }
  .pricing .pricing__box div {
    padding : 10px 70px;
  }

  .pricing .pricing__box a {
    margin: 20px auto;
  }

  .testimonals .officer {
    flex-direction: column;
  }

  .copyright .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .copyright .copyright__details {
    display: block;
    margin-bottom: 40px;
  }

}