@media (max-width : 600px) {
  .featured .flex {
    justify-content: center;
  }
  .services .box {
    flex-direction: column;
    padding : 20px 30px;
    height: auto;
  }

  .features .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .features .flex:nth-child(even) {
    display: flex;
    flex-direction: column;
  }
}